.graph__score {
  width: 30%;
  h2 {
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  p {
    padding: 36.8px 43.2px;
    line-height: 21px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    span {
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.6875rem;
    }
  }
}
