.card-aside {
  height: 20%;
  padding-left: 8%;
  &__icons {
    border-radius: 6px;
    mix-blend-mode: normal;
    width: 24%;
    height: 60%;
    &--Calories {
      background-color: rgba($color-primary, 0.07);
    }
    &--Proteines {
      background-color: rgba(74, 184, 255, 0.1);
    }
    &--Glucides {
      background-color: rgba(#f9ce23, 0.07);
    }
    &--Lipides {
      background-color: rgba(253, 81, 129, 0.1);
    }
  }
  &__text {
    width: 40%;
    :first-child {
      font-size: 1.25rem;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}
