// SCSS import
@import "../assets/scss/variables";
// starter-kit
@import "../starter/navbar/navbar";
@import "../starter/aside/aside";
// pages-kit
@import "../pages/home/main";
@import "../pages/dashboard/dashboard";
// @import "../pages/404/notFound";
// components-kit
// @import "../components/card/card";
@import "../components/banner/banner";
// @import "../components/collapse/collapse";
// @import "../components/gallery/gallery";
// @import "../components/tag/tag";

/* reset */

// html {
//   height: 100%;
// }

#root {
  // height: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // display: flex;
  // align-content: space-between;
}

ul {
  list-style: none;
}

// Size page settings

// width

.w-full {
  width: $w-full;
}

.w-lg {
  width: $w-lg;
}

.w-md {
  width: $w-md;
}

.w-screen {
  width: $w-screen;
}

.w-min {
  width: $w-min;
}

.w-max {
  width: $w-max;
}

.w-fit {
  width: $w-fit;
}

.w-28 {
  width: $w-28;
}

// height

.h-full {
  height: $h-full;
}

.h-screen {
  height: $h-screen;
}

.h-min {
  height: $h-min;
}

.h-max {
  height: $h-max;
}

.h-fit {
  height: $h-fit;
}

.h-6 {
  height: $h-6;
}

// font weight

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

// font size

.text-xsss {
  font-size: $text-xsss;
  line-height: $line-height-max;
}

.text-xss {
  font-size: $text-xss;
  line-height: $line-height-max;
}

.text-xs {
  font-size: $text-xs;
  line-height: $line-height-max;
}

.text-sm {
  font-size: $text-sm;
  line-height: $line-height-sm;
  font-weight: 500;
}

.text-lg {
  font-size: $text-lg;
  line-height: $line-height-lg;
}

.text-2xl {
  font-size: $text-2xl;
  line-height: $line-height-2xl;
}

.text-4xl {
  font-size: $text-4xl;
  line-height: $line-height-4xl;
}

.text-5xl {
  font-size: $text-5xl;
  line-height: $line-height-max;
}

.text-8xl {
  font-size: $text-8xl;
  line-height: $line-height-max;
}

.text-18xl {
  font-size: $text-18xl;
  line-height: $line-height-max;
}

// color

.main-color {
  color: $main-color;
}

.color-primary {
  color: $color-primary;
}

.text-black {
  color: $text-black;
}

.text-white {
  color: $text-white;
}

.text-gray {
  color: $text-gray;
}

.transparent {
  color: $transparent;
}

// background color

.bg-main-color {
  background-color: $main-color;
}

.bg-black {
  background-color: $text-black;
}

.bg-gray {
  background-color: $text-gray;
}

// just for test
.bg-blue {
  background-color: blue;
}

// border radius

.rounded-light {
  border-radius: $radius;
}

.rounded {
  border-radius: $rounded;
}

.rounded-3xl {
  border-radius: $rounded-3xl;
}

// flex

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

// grid

.grid {
  display: grid;
}

// column //

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-row-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

// row //

.grid-row-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-row-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.hidden {
  display: none;
}

// margin

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// padding

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

// justify-items

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

// justify-content

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

// align-items

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

// align-content

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-center {
  align-content: center;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.content-stretch {
  align-content: stretch;
}

// gap

.gap-y-xs {
  row-gap: 0.125rem;
}

.gap-y-sm {
  row-gap: 0.25rem;
}

.gap-y-md {
  row-gap: 0.625rem;
}

.gap-y-lg {
  row-gap: 1rem;
}

.gap-y-xl {
  row-gap: 1.25rem;
}

.gap-x-xs {
  column-gap: 0.125rem;
}

.gap-x-sm {
  column-gap: 0.25rem;
}

.gap-x-md {
  column-gap: 0.625rem;
}

.gap-x-lg {
  column-gap: 1rem;
}

.gap-x-xl {
  row-gap: 1.25rem;
}

// position

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.top-md {
  top: 50%;
}

.top-lg {
  top: 80%;
}

.left-md {
  left: 50%;
}

.right-md {
  right: 50%;
}

.bottom-md {
  bottom: 50%;
}

// text

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// object

.object-cover {
  object-fit: cover;
}

// overflow

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

// opaque ou visible

.opaque {
  opacity: 0;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.visible {
  opacity: 1;
}

// icons

.fa-chevron-up {
  transform: rotate(180deg);
}

.fa-chevron-down {
  transform: rotate(0deg);
}

.fa-chevron-left {
  transform: rotate(90deg);
}

.fa-chevron-right {
  transform: rotate(-90deg);
}

// delete decoration

.no-underline {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}
